*{

}
html, body{
    overflow: hidden;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
 
    background-color: antiquewhite;
    padding: 15px;
    border-radius: 30px;
    box-shadow:  10px 10px 5px grey;
    display: grid;
    grid-template-columns: repeat(4,60px);
    animation: float 2s ease-in-out infinite;
}

#form{
    width: 290px;
    padding: 15px;
    border-radius: 30px;
    box-shadow:  10px 10px 5px grey;
    display: grid;
    grid-template-columns: repeat(4,60px);
   
    margin-left: 0;
}

input{
    grid-column: span 4;
    box-shadow:  inset 2px 2px 12px rgb(55, 55, 59) ;
    height: 50px;
    width: 240px;
    background-color: #ecf0f3;
    box-shadow:  5px 5px 12px #f0ffff 5px 5px 12px rgba(0, 0, 0, .16);
    outline: none;
    border-radius: 30px;
    font-size: 30px;
    text-align: end;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 10px;
    user-select: none;
}

button{
    font-size: 19px;
    
    height: 48px;
    width: 48px;
    background-color: #ffffff;
    box-shadow: -5px, -5px, 12px hsl(0, 1%, 69%);
    border: none;
    border-radius: 50%;
    margin-top: 10px;
}
button:hover{
    transform: scale(0.9)
}

.equalTo{
    width: 100px;
    border-radius: 15px;
}




